__pycache__/*
venv/*
visualize/*
mymodels/*
mymodel/MyGemma-3-4B-it/__pycache__/*
mymodel/MyQwen2.5-3B/__pycache__/*
mytasks/cruxeval_o_adv/__pycache__/*
mytasks/gsm8k_adv/__pycache__/*
test.sh
visualize_test/